/** Personalización de tarjetas aceptadas para Woocommerce Legacy - Shortcode (< 8.4) **/
.payment_method_micuentawebstd img:not(.kr-header-logo,.kr-logo-izipay) {
    content: url("https://github.com/izipay-pe/Imagenes/blob/main/logo_tarjetas_aceptadas/logo-tarjetas-aceptadas-351x42.png?raw=true");
    max-width: 200px!important;
}

/** Personalización de tarjetas aceptadas para Woocommerce Blocks (>= 8.4) **/
#radio-control-wc-payment-method-options-micuentawebstd__label img:not(.kr-header-logo,.kr-logo-izipay) {
        content: url("https://github.com/izipay-pe/Imagenes/blob/main/logo_tarjetas_aceptadas/logo-tarjetas-aceptadas-351x42.png?raw=true");
    max-width: 200px!important;
}

/* manejo de tamaño del banner de tarjetas */
.block.micuentawebstd-id-block{
	margin-bottom: 13px!important;
}

.micuentawebstd-view-top{
  padding:0px!important;
}

/*controla el la letra "O"*/
.micuentawebstd-cc-block.micuentawebstd-id-block{        
 margin: 0px 10px!important;
}

.micuentawebstd-view-bottom{
	margin-top: 10px!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: unset;
    align-items: baseline!important;
	width: 100%!important;
    max-width: 366px!important;
    padding-left: 0!important;
}
.micuentawebstd-view-bottom.micuentawebstd-view-bottom.micuentawebstd-view-bottom a {
    font-size: 11px;
    color: #FF4240;
    font-weight: bold;
}

/*fin - Manejo del token*/

.micuentawebstd-view-top {
    padding: 0px !important;
}


div:has(> #micuentawebstd_rest_wrapper), div:has(> .micuentawebstd-view-top) {
	flex-direction: column!important;
    justify-content: center!important;
    width: 100%!important;
    max-width: 360px!important;
    background-color: #fff !important;
    background-repeat: no-repeat;
    background-position: center top 15px;
    background-size:160px;
    background-image: url("https://github.com/izipay-pe/Imagenes/blob/main/logos_izipay/logo-izipay-sinFondo-250x102.png?raw=true") !important;
    border-radius: 6px;
    box-shadow: 0px 10px 25px rgba(92, 99, 105, .2);
    border: 1px solid #b3b6b5 !important;
    margin-top: 25px !important;
    margin-bottom: 10px !important;        
    padding: 78px 20px 20px 20px !important;
    box-sizing: border-box; 
}

/*Maneja la caja del formulario de pago */
.kr-embedded {
    display: flex;
    background-color: #fff !important;
    border-radius: 8px!important;
    border: 1px solid #b3b6b5 !important;
box-shadow: 0px 10px 25px rgba(92, 99, 105, .2)!important;
    padding:20px!important;
    box-sizing: border-box !important;
}


.kr-embedded .kr-form-error, .kr-smart-form .kr-form-error {
    box-sizing: border-box;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
    border: 0;
    background-color: #b71c1c;
    display: block;
}

.kr-embedded .kr-form-error span, .kr-smart-form .kr-form-error span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    color: #fff !important;
    padding: 10px 3px;
    display: inline-block;
    font-size: 1em;
    font-family: Roboto, sans-serif;
    text-align: center;
    cursor: default;
}

/*** Maneja  kr-expiryy kr-security-code en una sola fila***/
.kr-embedded.kr-embedded-flex-display.kr-embedded-flex-direction-column {
	display:flex !important;
    flex-direction: row !important;
	justify-content: space-between!important;
}

/*** Fecha de tarjeta ***/
.kr-expiry{
height: 45px !important;
border-radius: 4px !important;
max-width: 49% !important;
}

/*** Codigo CVV ***/
.kr-security-code{
height: 45px !important;
border-radius: 4px !important;
max-width: 49% !important;
}

.micuentawebstd-view-top .micuentawebstd-cc-block {
	display: none!important;
}
