/** Personalización de tarjetas aceptadas para Woocommerce **/
.payment_method_micuentawebstd img:not(.kr-header-logo, .kr-logo-izipay),
#radio-control-wc-payment-method-options-micuentawebstd__label img:not(.kr-header-logo, .kr-logo-izipay) {
    content: url("https://github.com/izipay-pe/Imagenes/blob/main/logo_tarjetas_aceptadas/logo-tarjetas-aceptadas-351x42.png?raw=true");
    max-width: 200px !important;
}

.block.micuentawebstd-id-block {
    margin-bottom: 13px !important;
    color: #2e312f !important;
}

.micuentawebstd-id-block {
    margin-bottom: -50px;
    text-align: center;
    font-size: 16px !important;
    color: #40ff96 !important;
}

.micuentawebstd-view-top {
    padding: 0px !important;
}

/** Control de margen en la letra "O" **/
.micuentawebstd-cc-block.micuentawebstd-id-block {
    margin: 0px 10px !important;
}

/** Personalización del contenedor inferior **/
.micuentawebstd-view-bottom {
    margin-top: 10px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: unset;
    align-items: baseline !important;
    width: 100% !important;
    max-width: 366px !important;
    padding-left: 0 !important;
}

.micuentawebstd-view-bottom a {
    font-size: 11px;
    color: #FF4240;
    font-weight: bold;
}

/** Maneja la posición vertical de las etiquetas **/
.kr-field-wrapper {
    margin-top: 6px !important;
    margin-left: 10px !important;
}

/** Margen al iniciar formulario **/
.kr-pan {
    margin-top: 14px !important;
}

/** Maneja los campos de ingreso de datos **/
.kr-pan,
.kr-expiry,
.kr-security-code,
.kr-installment-number,
.kr-first-installment-delay,
.kr-card-holder-name,
.kr-card-holder-mail,
.kr-identity-document-type,
.kr-identity-document-number {
    height: 45px !important;
    border-radius: 4px !important;
    width: 100% !important;
}

/** Maneja la caja donde se visualiza el formulario y logo **/
div:has(> #micuentawebstd_rest_wrapper),
div:has(> .micuentawebstd-view-top) {
    flex-direction: column !important;
    justify-content: center !important;
    width: 100% !important;
    max-width: 360px !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    background-position: center top 15px !important;
    background-size: 160px !important;
    background-image: url("https://github.com/izipay-pe/Imagenes/blob/main/logos_izipay/logo-izipay-sinFondo-250x102.png?raw=true") !important;
    border-radius: 6px;
    box-shadow: 0px 10px 25px rgba(92, 99, 105, .2);
    border: 1px solid #b3b6b5 !important;
    margin-bottom: 10px !important;
    padding: 78px 20px 20px 20px !important;
    box-sizing: border-box;
}

/** Maneja la caja del formulario de pago **/
.kr-embedded {
    background-color: #fff !important;
    border-radius: 6px;
    border: 1px solid #b3b6b5 !important;
    box-shadow: 0px 10px 25px rgba(92, 99, 105, .2);
    padding: 20px !important;
    box-sizing: border-box;
    margin: auto;
    width: 100% !important;
}

.wc-block-components-radio-control-accordion-content p:last-child,
.micuentawebstd-view-top .micuentawebstd-cc-block {
    display: none !important;
}


/** Estilos de campos de entrada **/
.kr-input-field {
    all: initial !important;
    border: 0 !important;
    width: 100% !important;
    height: 33px !important;
}

.kr-input-field::placeholder {
    all: initial !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    color: #999 !important;
}
