
/*** maneja la posicion vertical de las etiquetas ***/
.kr-field-wrapper{
    margin-top: 6px !important;
    margin-left: 10px !important;
}

 .Contains-form{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #ffffff;
	background-repeat: no-repeat;
	background-position: center top 15px;
	background-size: 160px;
	background-image: url("https://github.com/izipay-pe/Imagenes/blob/main/logos_izipay/logo-izipay-sinFondo-250x102.png?raw=true") !important;
	border-radius: 6px;
	box-shadow: 0px 10px 25px rgba(92, 99, 105, .2);
	border: 1px solid #b3b6b5 !important;
    margin-bottom: 25px;
	padding: 20px !important;
	width: 360px;
	padding: 25px !important;
    }  

/*** Maneja la caja del formulario de pago ***/
 .kr-embedded {
    background-color: #fff !important;
    border-radius: 6px;
    border: 1px solid #b3b6b5 !important;
    margin-top: 58px !important;
    box-shadow: 0px 10px 25px rgba(92, 99, 105, .2);
    padding: 20px !important;
    width: 100%!important;
    max-width: 300px!important;
}  

.content-security-expiry{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-around!important;
} 


/*** Número de tarjeta ***/
.kr-pan{
    margin-top: 14px !important;
    height: 45px !important;
    border-radius: 4px !important;
}

/*** Fecha de tarjeta ***/
.kr-expiry{
    height: 45px !important;
    border-radius: 4px !important;
    max-width: 49% !important;
}

/*** Codigo CVV ***/
.kr-security-code{
    height: 45px !important;
    border-radius: 4px !important;
    max-width: 49% !important;
}

/*** Cuotas ***/
.kr-installment-number{
    border-radius: 4px !important;
    height: 45px !important;
}

/*** Pago diferido ***/
.kr-first-installment-delay{
    border-radius: 4px !important;
    height: 45px !important;
}

/* Button */
.kr-embedded .kr-payment-button {
    color: #ffffff !important;
    background-color: #00A09D !important;
    border-radius: 4px !important;
    height:55px !important;
    margin-bottom: 0px !important;
}
  
.kr-embedded .kr-payment-button span:hover{
    transition-duration: 0.2s;
    font-size: large;
    text-shadow: -0.5px -0.5px 0.5px #000, 0.5px 0.5px 0.5px #000, -0.5px 0.5px 0.5px #000, 0.5px -0.5px 0.5px #000;
}
  
.kr-embedded .kr-payment-button:hover {
    background-color: #3DD2CE !important;
    border-radius: 4px !important;
    color: #ffffff !important;
}